[Unit]
Description=Turris Sentinel dynamic firewall client
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/default/sentinel-dynfw-client
Type=notify
RuntimeDirectory=sentinel
ExecStart=/usr/local/bin/sentinel-dynfw-client --cache-dir "${RUNTIME_DIRECTORY}" --backend "${DYNFW_BACKEND}" --table "${DYNFW_NFT_TABLE}" --ipset $DYNFW_SET $DYNFW_ARGS
ProtectSystem=strict
ProtectHome=yes
ProtectProc=invisible
ProcSubset=pid
PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native
Restart=on-abnormal
RestartSec=5
TimeoutStopSec=5
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
